:root {
    --ghprimary: #3fa34d;
    --ghsecondary: #d96c06;
    --ghthirdary: #8491a3;
}

* {
    font-family: Roboto, sans-serif;
}

.navbar-brand, .footer-logo {
    height: 3rem;
}


.navbar-nav {
    margin-right: 12%;
}

.goat-heroes-nav {
    background-color: var(--ghprimary);
}

.goat-heroes-nav > .navbar-nav {
    color: white;
}

.footer {
    background-color: var(--ghthirdary);
}

.footer-nav-link {
    color: white;
}

.footer-nav-link:visited {
    color: white;
}


.footer-nav-link:hover {
    color: white;
    filter: brightness(80%);
}


.action-button {
    position: relative;
    top: 90%;
    left: 5rem;
}

.tbutton:hover {
    font-size: 4em;
}

.banner {
    background: url('../images/banner.png') no-repeat center center;
    background-size: cover;
    background-position-y: 30px;
    height: 550px;
}

.chat-with-us {
    display: flex;
    position: fixed;
    border-radius: 50%;
    padding: 2rem;
    color: white;
    background: var(--ghprimary);
    width: 64px;
    justify-content: center;
    align-items: center;
    height: 64px;
    right: 5%;
    top: 90%;
    transition: 0.3s;
}

.chat-with-us:hover {
    width: 68px;
    height: 68px;
}



.form-background {
    margin: 5% auto;
    width: 60%;
    color: white;
    padding: 6rem;
    /* #273C2C */
    background-image: url("../images/noise.png");
    background-repeat: repeat;
    border-radius: 5px;
}

/* Desktops and Laptops */
@media (min-width: 1025px) and (max-width: 1280px) {

}

/* Smartphones */
@media (min-width: 320px) and (max-width: 480px) {

    .chat-with-us {
        display: none;
    }

    .form-background {
        margin: 5% auto;
        width: auto;
        color: white;
        padding: 1rem;
        /* #273C2C */
        background-image: url("/images/noise.png");
        background-repeat: repeat;
        border-radius: 5px;
    }


    .banner {
        background-position-y: 60%;
        background-size: contain;
        height: 18rem;
        width: auto;
    }

    .action-button {
        position: relative;
        top: 67%;
        left: 50%;
        transform: translateX(-50%);
    }

}

.section-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.section-background-other {
    background-color: var(--ghthirdary);
    filter: brightness(60%);
}

.text-green {
    color: var(--ghprimary)
}

.page-title {
    padding: 5rem;
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 2.5em;
    background-color: #d96c06;
}

/* Animations for Fading In from Left */
.animate__object {
    animation-duration: 1s;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translate3d(-100%, 0, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translate3d(-100%, 0, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.move__fadeInLeft {
    animation-name: fadeInLeft;
}

@-webkit-keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translate3d(100%, 0, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translate3d(100%, 0, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.move__fadeInRight {
    animation-name: fadeInRight;
}

/* End Animations */

